body {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	max-width: 100%;
    height: auto;
}

.header {
	background-color: rgba(255, 255, 255, 0.7);
	height: 200px;
	width: 100%;
}


h1.heading { 
	color: rgb(255, 255, 255); 
	font-family: "Great Vibes", cursive; 
	font-size: 4rem;  
	font-weight: normal; 
	border-bottom: 1px solid white; 
	margin-bottom: 0px; 
	margin-top: 10px; 
	text-align: center; 
	text-shadow: 0 2px 2px rgb(002,086,105); 
}

h2.hotel_logo {
	font-family: "Great Vibes", cursive;
	font-size: 4rem;
	border: none;
	color: rgb(037, 109, 123);
	text-shadow: 0 2px 2px rgb(002,086,105);
	text-align: center;
	padding: 15px;
}

h3.luxury {
	color: rgb(255, 255, 255);
	font-family: 'Playball', cursive;
	font-size: 6rem;
	text-align: center;
	padding-top: 150px;
}

img.left {
	float: left;
	padding: 10px;
	width: 25%;
	height: 250px;
	border-radius: 50%;
	border-left: 2px solid black;
}

img.right {
	float: right;
	padding: 10px;
	width: 25%;
	height: 250px;
	border-radius: 50%;
	border-right: 2px solid black;
}

.footer_social {
	background-color: rgba(255, 255, 255, 0.7);
	height: 400px;
}

.footer_copy {
	background-color: rgba(255, 255, 255, 0.7);
	font-family: 'Pacifico', cursive;
} 

.section {
	background-color: rgba(037, 109, 123, 0.6);
	margin: 100px;
	padding: 20px 20px;
	height: 400px;
	flex-wrap: wrap;
	 border-radius: 50% / 10%;
}	

.empty_box {
	height: 300px;
	width: 100%;
}

.about_paragraph {
	padding: 50px;
	text-align: center;
	font-size: 1.2rem;
	line-height: normal;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
}

.hotel_paragraph {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	font-size: 1.2rem;
	line-height: normal;
	text-align: center;
	padding: 50px 20px 0;
}

.spa_paragraph {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	font-size: 1.2rem;
	line-height: normal;
	text-align: center;
	padding: 50px 20px 0;
}

.roads {
	font-family: "Great Vibes", cursive; 
	color: rgb(184,183,153);
	font-size: 2.4rem;
	font-weight: bold;
	margin-top: -222px;
	margin-bottom: 50px;
	margin-left: 50px;
}

.contact_detail {
	color: #FFF;

}

.map {
	width: 50%;
	height: 250px;
	margin-top: 30px;
	margin-left: 500px;
}

.contact_detail {
	font-family: 'Great Vibes', cursive;
	font-size: 1.5rem;
	padding-left: 50px;
}

address a {
	color: #FFF;
}

.contact_tel {
	color: #FFF;
}

nav {
	overflow: hidden;
}

nav a {
	display: block;
	width: 15%;
	height: 40px;
	float: left;
	text-decoration: none;
	color: rgb(037, 109, 123);
	background-color: white;
	padding: 15px 30px;
	margin-top: 30px;
	margin-left: 3px;
	font-size: 20px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	text-align: center;
}

a.nav_bar:hover {
	background-color: rgb(037, 109, 123);
	opacity: 0.7;
	cursor: pointer;
	color: #FFF;

.active {
	background-color: rgb(037, 109, 123);
	opacity: 0.7;
}