body {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	max-width: 100%;
    height: auto;
}

.header {
	background-color: rgba(255, 255, 255, 0.7);
	height: 200px;
	width: 100%;
}


h1.heading { 
	color: rgb(255, 255, 255); 
	font-family: "Great Vibes", cursive; 
	font-size: 4rem;  
	font-weight: normal; 
	border-bottom: 1px solid white; 
	margin-bottom: 0px; 
	margin-top: 10px; 
	text-align: center; 
	text-shadow: 0 2px 2px rgb(002,086,105); 
}

h2.hotel_logo {
	font-family: "Great Vibes", cursive;
	font-size: 4rem;
	border: none;
	color: rgb(037, 109, 123);
	text-shadow: 0 2px 2px rgb(002,086,105);
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

h2.hotel_logo_small {
	font-family: "Great Vibes", cursive;
	font-size: 2.4rem;
	border: none;
	color: rgb(037, 109, 123);
	text-shadow: 0 2px 2px rgb(002,086,105);
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

h3.luxury {
	color: rgb(255, 255, 255);
	font-family: 'Playball', cursive;
	font-size: 6rem;
	text-align: center;
	padding-top: 150px;
}

img.left {
	float: left;
	padding: 10px;
	width: 25%;
	height: 250px;
	border-radius: 50%;
	border-left: 2px solid black;
}

img.right {
	float: right;
	padding: 10px;
	width: 25%;
	height: 250px;
	border-radius: 50%;
	border-right: 2px solid black;
}

.footer_container {
	background-color: rgba(255, 255, 255, 0.7);
	height: 400px;
}

p.footer_copy {
	background-color: rgba(255, 255, 255, 0.7);
	font-family: 'Pacifico', cursive;
} 

.section {
	background-color: rgba(037, 109, 123, 0.6);
	margin: 100px;
	padding: 20px 20px;
	height: 400px;
	flex-wrap: wrap;
	 border-radius: 50% / 10%;
}	

.empty_box {
	height: 300px;
	width: 100%;
}

.about_paragraph {
	padding: 50px;
	text-align: center;
	font-size: 1.2rem;
	line-height: normal;
	font-family: 'Roboto', sans-serif;
	color: #FFF;
}

.hotel_paragraph {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	font-size: 1.2rem;
	line-height: normal;
	text-align: center;
	padding: 50px 20px 0;
}

.spa_paragraph {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	font-size: 1.2rem;
	line-height: normal;
	text-align: center;
	padding: 50px 20px 0;
}

.roads {
	font-family: "Great Vibes", cursive; 
	color: rgb(184,183,153);
	font-size: 2.4rem;
	font-weight: bold;
	margin-top: -222px;
	margin-bottom: 50px;
	margin-left: 50px;
}

.contact_detail {
	color: #FFF;
}

.map {
	width: 50%;
	height: 250px;
	margin-top: 30px;
	margin-left: 500px;
}

.contact_detail {
	font-family: 'Roboto', sans serif;
	font-size: 1.5rem;
	padding-left: 50px;
}

address a {
	color: #FFF;
}

.contact_tel {
	color: #FFF;
}

nav {
	overflow: hidden;
}

nav a {
	display: block;
	width: 15%;
	height: 40px;
	float: left;
	text-decoration: none;
	background-color: white;
	padding: 15px 30px;
	margin-top: 20px;
	margin-left: 3px;
	font-size: 20px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	font-family: "Roboto", sans serif;
	color: rgb(037, 109, 123);
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
    justify-content: center;
    align-items: center;
}

a.nav_bar:hover {
	background-color: rgb(037, 109, 123);
	opacity: 0.7;
	cursor: pointer;
	color: #FFF;
}

.active {
	background-color: rgb(037, 109, 123);
	opacity: 0.7;
}

a.nav_bar.active {
	color: #FFF;
}

form {
  width: 450px;
  margin:  1% auto;
}

.input {
  display: flex;
  align-items: center;
}

.btn {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

#submit {
  width: 30%;
  height: 46px;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  
#submit:hover {
  background: #d45d7d;
  color: #FFF;
}
  
input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

.wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

.wrapper ul {
  list-style: none;
}

.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

.wrapper ul li .fa {
  color: #E86C8D;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}

